
<p><img src="../imgs/inspiration7.jpg"></p>


<h3><li><a href="about/index.html">About Me</a></h3>

<p>Welcome!! This is my Portfolio and it has the summary of me. Below are the links which will take you to my weekly blogs, my projects, help you connect with me. So feel free to email me!! I would love to connect with you and know what you feel about my page.</p>

<ul>
<li><a href="https://twitter.com/anujaverma">Twitter</a></li>
<li><a href="https://www.linkedin.com/profile/view?id=24394655">Linkedin</a></li>
<li><a href="https://www.facebook.com/anujaverma11">Facebook</a></li>
<li><a href="https://www.quora.com/Anuja-Verma-3">Quora</a></li>
<li><a href="https://github.com/anujaverma11">Github</a></li>
<li><a href="Projects/index.html">My Projects</a></li>
<li><a href="mailto:anuja.verma@gmail.com">Email Me!</a></li>
</ul>

<h3>Recent Posts.</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>