
<p><a href="imgs/anuja.jpg"><img src="imgs/anuja.jpg"></a></p>


<h3>About Me</h3>
<p>Hi! I am Anuja Verma, I just started my journey with DBC, I know there is so much more out there, to learn, remember, know, discover, love, consume. I had just begun, and I am already having one wonderful trip!</p>

<p>This blog has snippets from my journey at DBC. This is my Portfolio and it has the summary of my learnings. Summary of my prjects. Below are the links which will take you to my weekly blogs, my projects, help you connect with me. So feel free to email me!! I would love to connect with you and know what you feel about my page.</p>

<ul>
<li><a href="https://twitter.com/anujaverma">Twitter</a></li>
<li><a href="https://www.linkedin.com/profile/view?id=24394655">Linkedin</a></li>
<li><a href="https://www.facebook.com/anujaverma11">Facebook</a></li>
<li><a href="https://www.quora.com/Anuja-Verma-3">Quora</a></li>
<li><a href="https://github.com/anujaverma11">Github</a></li>
<li><a href="Projects/index.html">My Projects</a></li>
<li><a href="mailto:anuja.verma@gmail.com">Email Me!</a></li>
</ul>

<h3>Recent Posts.</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>